{% extends 'default.html' %}

{% block title %}
Добавить автора
{% endblock title %}

{% block content %}
<form method="POST">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Добавить автора">
</form>
<br>
<br>
    <a href="{% url 'post_search' %}">Поиск публикации</a>
<br>
<br>
    <a href="{% url 'person_create' %}">Добавить персону</a>
<br>
<br>
    <a href="{% url 'post_create' %}">Создать публикацию</a>
<br>
<br>
<a href="{% url 'main' %}">Главная страница</a>
   

{% endblock content %}
